<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Consumer</title>
</head>
<body>
    <h1>Let's see crud of products</h1>

    <button id="list">List</button>
    <button id="retrieve">Retrieve</button>
    <button id="create">Create</button>
    <button id="patch">Patch</button>
    <button id="update">Update</button>
    <button id="delete">Delete</button>

    <pre id="response"></pre>
    <script type="text/javascript">
        const ws = new WebSocket("ws://localhost:8000/api/v1/store/lobby/")

        ws.onmessage = function (e) {
            document.getElementById("response").textContent = JSON.stringify(JSON.parse(e.data), undefined, 2);
            console.log(e.data)
        }

        document.querySelector('#list').onclick = function (e) {
            ws.send(JSON.stringify({
                action: "list",
                request_id: new Date().getTime()
            }))
        };

        document.querySelector('#retrieve').onclick = function (e) {
            ws.send(JSON.stringify({
                action: "retrieve",
                request_id: new Date().getTime(),
                pk: 3
            }))
        }

        document.querySelector('#create').onclick = function (e) {
            ws.send(JSON.stringify({
                action: "create",
                request_id: new Date().getTime(),
                data: {
                    "address": "Chui 12",
                    "city": "Bishkek",
                    "country": "Kyrgyzstan",
                }
            }))
        }

        document.querySelector('#patch').onclick = function (e) {
            ws.send(JSON.stringify({
                action: "patch",
                request_id: new Date().getTime(),
                pk: 2,
                data: {
                    address: "Manas 15"
                }
            }))
        }

        document.querySelector('#update').onclick = function (e) {
            ws.send(JSON.stringify({
                action: "update",
                request_id: new Date().getTime(),
                pk: 3,
                data: {
                    address: "Manas 25"
                }
            }))
        }

        document.querySelector('#delete').onclick = function (e) {
            ws.send(JSON.stringify({
                action: "delete",
                request_id: new Date().getTime(),
                pk: 2
            }))
        }

    </script>
    
</body>
</html> 